server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

  data:
    redis:
      host: redis
      port: 6379

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    tags-sorter: alpha
    operations-sorter: alpha
  packages-to-scan: com.example.demo


  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET:GJm6b9A3Emn8d0uU2qY9TWVtC/3Yt7qA7UAeWXVRwYE=}  # sẽ đổi thành biến môi trường
  access-token-expiration: 86400000   # 24h
  refresh-token-expiration: 604800000 # 7 ngày

